@font-face {
    font-family: 'MyCustomFont';
    src: url('bionical-font/BionicalDemo-8MJ5A.ttf');
    font-weight: normal;
    font-style: normal;
}
body {
background-color: #1e2a3a;
}
.content{
    margin: 20px auto;
    max-width: 800px;
    border: 1px solid white;
    background-color: white;
    padding: 30px;
}
.content {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}
.menu {
background-color: #333;
height: 50px;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.menu a {
    display: block;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(90deg,#333 0%, darkcyan 100%);
    font-family: 'MyCustomFont',sans-serif;
    border: 1px solid white;
    transition: all 0.3s ease-out;
    position: relative;
}
.menu a:hover{
    box-shadow: 0px 0px 5px cyan,
    0px 0px 10px cyan,
    0px 0px 20px cyan;
    
}

.menu a:active {
    box-shadow: none;
    transform: translateY(0);
}
.menu a:before, .menu a:after {
    content: "";
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease-out;
}
.menu a:before{
    width: 90%;
    height: 90%;
    
}
.menu a:after{
    width: 70%;
    height: 70%;
    
}
.menu a:hover:before, .menu a:hover:after{
    opacity: 1;
}
.banner {
    position: relative;
}
.banner img{
    display: block;
    width: 100%;
    height: auto;
}
.banner h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'MyCustomFont',sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 20px cyan;
    

}